.layui-btn-sm {
  height: 27px;
  line-height: 27px;
}

.layui-btn-mini {
  height: 22px;
  line-height: 22px;
}

.btn-line-orange,
.btn-line-orange:hover {
  color: #ffb800;
  border-color: #ffb800;
}

.border-orange {
  border: 1px solid rgba(255, 184, 0, 0.65);
}

.btn-line-gray,
.btn-line-gray:hover {
  color: #c2c2c2;
  border-color: #c2c2c2;
}

.border-gray {
  border: 1px solid rgba(194, 194, 194, 0.65);
}

.border-gray .marking,
.border-gray .marking > i {
  color: #c2c2c2 !important;
}

.btn-line-blue,
.btn-line-blue:hover {
  color: #01aaed;
  border-color: #01aaed;
}

.border-blue {
  border: 1px solid rgba(1, 170, 237, 0.65);
}

.btn-line-red,
.btn-line-red:hover {
  color: #ff5722;
  border-color: #ff5722;
}

.border-red {
  border: 1px solid rgba(255, 87, 34, 0.65);
}

.btn-line-sm {
  width: 70px;
  border-radius: 15px;
}

.project-content {
  box-sizing: border-box;
  padding: 0 25px;
}

.project .marking {
  height: 25px;
  padding: 3px 0;
  box-sizing: border-box;
  font-size: 13px;
  vertical-align: middle;
}

.project > .marking > i {
  margin-right: 5px;
}

.project > .project-detail {
  padding: 15px 30px;
}

.project,
.project > * {
  box-sizing: border-box;
}

.project-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.project header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*padding: 0 20px;*/
}
.project .title {
  font-weight: 700;
  font-size: 16px;
  /*text-align: center;*/
  line-height: 2em;
  max-width: 440px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project .project-info > * {
  font-size: 12px;
}

.project-info tr {
  line-height: 1.6em;
}
.project-info td {
  padding: 10px 10px 10px 0;
  color: #707070;
  max-width: 210px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
